<!-- extend base layout -->
{% extends "base.html" %}


{% block scripts %}
{{super()}}

{%- endblock scripts %}

{% block content %}
  
	  <table id="overview" border="1">
		  <thead>
		    <tr>
		        <th>Timestamp</th>
		        <th>Level</th>
		        <th>Action</th>
		    </tr>
		    </thead>
	    <tbody>
	    
	    {% for event in events %}
		<tr>
		    <td>{{ event.timestamp }}</td>
		    <td>{{ event.level }}</td>
		    <td>{{ event.action }}</td>
		</tr>
	  {% endfor %}
	  
	    </tbody>
	
	    </table>
{% endblock %}
	    