<!-- extend base layout -->
{% extends "base.html" %}


{% block scripts %}
{{super()}}

{%- endblock scripts %}

{% block content %}

<div class="container">

<div class="row">

	<div class="col-md-12 col-sm-12">

	<h1>Métrica de Aquisição de Conceitos-Chaves (ACC)</h1>

	<h3>Aluno: {{aluno}}</h3>

	<br />

	<br /> <br />

	<table id="overview" class="table">
			  <thead>
			    <tr>
					<th>Conceito</th>
                    {% for i in range(tabela_acc.__len__()+1) %}
                        <th>A{{ i }}</th>
                    {% endfor %}

			    </tr>
			    </thead>
		    <tbody>

		    {% for conceito, notas in tabela_acc.items() %}
			<tr>
                <td>{{ conceito }}</td>
                {% for nota in notas %}
                    <td>{{ nota }}</td>
                {% endfor %}

			</tr>
		  {% endfor %}

		    </tbody>

		 </table>

	</div><!--/col-md-12-->

</div><!--/row-->

</div><!--/container-->


{% endblock %}

