<!-- extend base layout -->
{% extends "base.html" %}


{% block scripts %}
{{super()}}

{%- endblock scripts %}

{% block content %}

<div class="container">

    <div class="row">

        <div class="col-md-12 col-sm-12">

            <h1>Escala de Verificação de Similaridade de Respostas (VSR)</h1>

            <h3>Aluno: {{aluno}}</h3>

            <br/>

            <!--<button class="btn btn-primary" onClick="location.reload()" type="button">Refresh</button>-->
            <!-- Trigger/Open The Modal -->
            <button id="btnGerarGrafico" class="btn btn-primary" onClick="" type="button">Gerar gráfico</button>

            <!-- The Modal -->
            <div id="modalGrafico" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Grafico a partir dos dados da VSR </h2>
                    </div>
                    <div class="modal-body">
                        <p>Some text in the Modal Body</p>
                        <p>Some other text...</p>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button id="btnVSR" class="btn btn-primary" onClick="" type="button">Verificar</button>-->
                    <!--</div>-->
                </div>

            </div>

            <br/> <br/>

            <table id="overview" class="table">
                <thead>
                <tr>
                    <th>Aluno/Jogador</th>
                    {% for num_questao in range(length) %}
                        <td> Questão</td>
                    {% endfor %}

                    <td>TL</td>

                </tr>
                </thead>
                <tbody>

                {% for linha in vsr %}
                <tr>
                    {% for item in linha %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

                </tbody>

            </table>

        </div><!--/col-md-12-->

    </div><!--/row-->

</div><!--/container-->


<script>
// Get the modal
var modal = document.getElementById('modalGrafico');

// Get the button that opens the modal
var btn = document.getElementById("btnGerarGrafico");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}




</script>


{% endblock %}

